<%= form_for(@weighing) do |f| %>
  <% if @weighing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weighing.errors.count, "error") %> prohibited this weighing from being saved:</h2>

      <ul>
      <% @weighing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
